<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../public/javascripts/objects/GameObject.js"></script>
    <script type="text/javascript" src="../public/javascripts/InputHandler.js"></script>
    <script type="text/javascript" src="../public/javascripts/InitElements.js"></script>
    <script type="text/javascript" src="../public/javascripts/objects/Player.js"></script>
    <script type="text/javascript" src="../public/javascripts/objects/BasicEnemy.js"></script>

    <title>PrestigiousP</title>
</head>

<body>
    <canvas id="canvas"></canvas>
</body>

<script>
    // Setup canvas
    var canvas = document.getElementById('canvas')
    canvas.width = window.innerWidth
    canvas.height = window.innerHeight
    var ctx = canvas.getContext('2d')

    // Render elements
    var canvasObjects = []

    // Setup player
    var player = new Player()
    player.position = { x: 200, y: 200 }
    player.velocity = { angle: 0, speed: 0 }

    // add observers, aka players to inputs
    addSubscriber(player)

    // add objects that will have to render 
    initElements(canvasObjects, player)

    // add the player last to have the render on top
    canvasObjects.push(player)

    loop()

    function loop() {
        // player.updatePosition()
        ctx.clearRect(0, 0, canvas.width, canvas.height)
        canvasObjects.forEach(elem => elem.updatePosition(ctx))
        canvasObjects.forEach(elem => elem.render(ctx))
        requestAnimationFrame(loop)
    }
</script>

<style>
    body {
        margin: 0;
        overflow: hidden;
    }
</style>

</html>