<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script type="text/javascript" src="../public/javascripts/test.js"></script> -->
    <script type="text/javascript" src="../public/javascripts/Player.js"></script>
    <title>PrestigiousP</title>
</head>

<body>
    <canvas id="canvas"></canvas>
</body>

<script>
    var canvas = document.getElementById('canvas')
    canvas.width = window.innerWidth
    canvas.height = window.innerHeight

    var ctx = canvas.getContext('2d')

    var player = new Player()
    player.position = { x: 200, y: 200 }
    player.velocity = { angle: 0, speed: 1 }

    function render() {
        console.log(`posx: ${player.position.x}, posy: ${player.position.y}`)
        player.update()
        ctx.fillRect(player.position.x, player.position.y, 40, 40)
        requestAnimationFrame(render)
    }

    render()
</script>

<style>
    body {
        margin: 0;
    }
</style>

</html>


<!-- extends layout

block content
  h1= title
  p Welcome to #{title} -->