<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../public/javascripts/GameObject.js"></script>
    <script type="text/javascript" src="../public/javascripts/InputHandler.js"></script>
    <script type="text/javascript" src="../public/javascripts/Setup.js"></script>
    <script type="text/javascript" src="../public/javascripts/Player.js"></script>
    <script type="text/javascript" src="../public/javascripts/BasicEnemy.js"></script>

    <title>PrestigiousP</title>
</head>

<body>
    <canvas id="canvas"></canvas>
</body>

<script>
    // Setup canvas
    var canvas = document.getElementById('canvas')
    canvas.width = window.innerWidth
    canvas.height = window.innerHeight
    var ctx = canvas.getContext('2d')

    // Render elements
    var renderElements = []

    // Setup player
    var player = new Player()
    player.position = { x: 200, y: 200 }
    player.velocity = { angle: 0, speed: 0 }
    renderElements.push(player)

    // add observers to inputs
    addSubscriber(player)

    initRenderElements(renderElements)

    render()

    function render() {
        player.update()
        ctx.clearRect(0, 0, canvas.width, canvas.height)
        renderElements.forEach(elem => elem.render(ctx, canvas))
        requestAnimationFrame(render)
    }
</script>

<style>
    body {
        margin: 0;
        overflow: hidden;
    }
</style>

</html>


<!-- extends layout

block content
  h1= title
  p Welcome to #{title} -->